<h1>Welcome New User</h1>
<p>We hope you are having a awesome day today.</p>

<p>Your Lucky number for the day is <%= @random%></p>

<img src="http://i.giphy.com/SPZFhfUJjsJO0.gif" alt="learning internet" style="width: 300px">
